.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}
.box {

    padding: 20px;
    text-align: left;
    font-weight: 800;
    background-color: aqua;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
   
    
}